<template id="hero-template">
    <div class="wrapper">
        <div class="coming-soon">
            <h1><img alt="La Ares Military Inspired Apparel" src="<%- require('../../assets/img/logo.svg') %> " height="150" /></h1>
            <span>Coming Soon</span>
        </div>
        <div class="social-bar">
        </div>
        <ms-hero-slide bg-img="<%- require('/Users/paulsingh/Dev/Projects/laares/src/assets/img/key-chain.jpg') %> "></ms-hero-slide>
        <ms-hero-slide bg-img="<%- require('/Users/paulsingh/Dev/Projects/laares/src/assets/img/m17-tee.jpg') %> "></ms-hero-slide>
        <ms-hero-slide bg-img="<%- require('/Users/paulsingh/Dev/Projects/laares/src/assets/img/bottle-opener.jpg') %> "></ms-hero-slide>
    </div>
</template>
<ms-hero-slider template="hero-template"></ms-hero-slider>