@font-face {
    font-family: 'Making Stuffs';
    src: font-url('/fonts/OleoScript-Regular.woff'),
        font-url('/fonts/OleoScript-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Making Stuffs';
    src: font-url('/fonts/OleoScript-Bold.woff'),
        font-url('/fonts/OleoScript-Bold.woff2');
    font-weight: 900;
}
